     <div  layout-padding style="border-bottom:1px solid lightgray;">
        <div layout="row" layout-align="center center" >
            <h4 flex >Brands</h4>  
            <md-button class="md-icon-button" align="right" ng-click="toggleBrands()">
            <md-icon class="material icons"  >{{plusMinus}}</md-icon>
            </md-button>
        </div>
        <div class="abc" layout="column"  ng-hide="hideBrands">
          <div   ng-repeat =" brand in brands">
          <md-checkbox  layout="100" ng-model="data.status" aria-label="{{brand}}">
             {{brand}}
          </md-checkbox>
        </div>
      </div>
     </div>
   

